{% extends 'base.html' %} {% block title %} Virtual Finance {% endblock %} {%
block content %}
<div class="container">
  <h2>Bank Page</h2>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fixed Deposit</h5>
          <p class="card-text">
            The bank pays you a small amount every month after depositing a huge
            amount (and not withdrawing it).
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Recurring Deposit</h5>
          <p class="card-text">
            It is an investment tool which allows people to make regular
            deposits and earn decent returns on the investment.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lump-Sum</h5>
          <p class="card-text">
            A lump sum investment is depositing the entire amount at one go. It
            is popular in mutual funds.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">SIP</h5>
          <p class="card-text">
            SIP allows an investor to invest a fixed amount of money at
            pre-defined intervals in a mutual fund scheme.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
