{% extends 'base.html' %} {% block title %} Virtual Finance {% endblock %} {%
block nav_items %}
<a class="nav-link" href="{{ url_for('home_page',user=username) }}">
  Home
</a>
<a class="nav-link" href="{{ url_for('bank_page',user=username) }}">
  Bank
</a>
<a
  class="nav-link active"
  aria-current="page"
  href="{{ url_for('stock_page',user=username) }}"
>
  Stocks
</a>
<a class="nav-link" href="{{ url_for('contacts_page',user=username) }}">
  Contacts
</a>
{% endblock %} {% block content %}
<div class="container">
  <div class="card card-table" style="width: 55rem;">
    <div class="card-body">
      <h5 class="card-title">Stocks Today</h5>
      <h6 class="card-subtitle mb-2 text-muted">INR Prices</h6>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Market Cap</th>
            <th scope="col">Volume</th>
            <th scope="col">Bought</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks_today %}
          <tr>
            <th scope="row">{{loop.index}}</th>
            <td>{{ stock.Name }}</td>
            <td>
              <i class="fa fa-inr" aria-hidden="true"></i>
              {{ stock.inr }}
            </td>
            <td>
              <i class="fa fa-inr" aria-hidden="true"></i>
              {{ stock.inr_market_cap }}
            </td>
            <td>
              <i class="fa fa-inr" aria-hidden="true"></i>
              {{ stock.inr_24h_vol }}
            </td>
            <td>
              55
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <div class="card card-table">
        <div class="card-body">
          <h5 class="card-title">Trade</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Buy/Sell</th>
              </tr>
            </thead>
            <tbody>
              <form
                action="{{ url_for('stock_page',user=username) }}"
                method="post"
              >
                {% for stock in stocks_today %}
                <tr>
                  <th scope="row" name="stockName{{loop.index}}">
                    {{ stock.Name }}
                  </th>
                  <td name="stockPrice{{loop.index}}">{{ stock.inr }}</td>
                  <td>
                    <button
                      class="btn btn-sm btn-primary"
                      onclick="increment(document.getElementById('quantity{{loop.index}}'))"
                    >
                      <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <input
                      type="text"
                      id="quantity{{loop.index}}"
                      name="quantity{{loop.index}}"
                      value="0"
                      style="width: 15%;"
                    />
                    <button
                      class="btn btn-sm btn-primary"
                      onclick="decrement(document.getElementById('quantity{{loop.index}}'))"
                    >
                      <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                  </td>
                  <td>
                    <button
                      class="btn btn-sm btn-success"
                      type="submit"
                      name="trade"
                      value="buy{{loop.index}}"
                    >
                      Buy
                    </button>
                    <button
                      class="btn btn-sm btn-danger"
                      type="submit"
                      name="trade"
                      value="sell{{loop.index}}"
                    >
                      Sell
                    </button>
                  </td>
                </tr>
                {% endfor %}
              </form>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      class="col-sm-4"
      style="width: 19rem; margin-top: 1%; margin-bottom: 1.5%;"
    >
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">My Stocks</h5>
          <h6 class="card-subtitle mb-2 text-muted">Buy/Sell Stocks</h6>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Bought</th>
                <th scope="col">Current</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
